header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  left:0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 80%;
  height: 130px;
  background-color: #161718;

  .logo {
    cursor: pointer;
  }

  li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  .nav-contact-button {
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .nav-contact-button:hover {
    background-color: #161718;
  }
}

.nav-links {
  list-style: none;

  li {
    display: inline-block;
    padding: 0px 20px;

    a {
      transition: all 0.3s ease 0s;
    }

    a:hover {
      color: #0088a9;
    }
  }
}

.main-nav-active {
  color: #0088a9;
}

.under-header{
  height: 130px;
}
