.logo{
  display:flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  clip-path: polygon(70% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 40%, 10% 20%);

background-color: #161718;
  color: white;
 
 font-family: "Montserrat", sans-serif;
 font-weight: 100;

}