
.main-view{
  overflow:hidden;

 p{
  text-align: center;
  letter-spacing: 19px;
 }
  article {
    height: 100vh;
    background-color: blue;
    width: 100%;
  }

}


.paralax-image{
  background-image: url("https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");

  height: 40vh; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}