footer{
  
background-color: white;
position: absolute;
width: 100%;
left: 0;
display: flex;
font-size: xx-small;
padding: 2rem 25%;

#content{
  display: flex;
  width: 40%;

  ul{
  list-style-type: none;

  }
}

}