@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
   font-family: "Montserrat", sans-serif;
  height: 100%;

background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(41,48,82,1) 50%, rgba(164,181,187,1) 100%);
}

.page-content{
  width: 90%;
  margin: 0 auto;
  background-color: white;
  }
